* {
    box-sizing: border-box;
    font-size: 16px;
}

.brand-logo {
    width: 8rem;
}

.header--dashboard {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 5rem;
    width: 100%;
}

.header--dashboard__logo {
    align-items: center;
    display: flex;
    grid-column-start: 1;
    grid-row-start: 1;
    padding: 0 2rem;
    width: 100%;
}

.header--dashboard__search {
    align-items: center;
    display: flex;
    grid-column-start: 2;
    grid-row-start: 1;
}

.header--dashboard__search-icon-container {
    align-items: center;
    display: flex;
}

.header--dashboard__search-icon {
    margin-left: 1rem;
    position: absolute;
}

.header--dashboard__input-search {
    background-color: #e3e3e3;
    border: none;
    border-radius: 8px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.25);
    height: 3rem;
    padding-left: 3rem;
    width: 80%;
}

.header--dashboard__menu {
    align-items: center;
    display: flex;
    grid-column-start: 3;
    grid-row-start: 1;
    justify-content: flex-end;
    padding-right: 2rem;
    position: relative;
    width: 100%;
}

.header--dashboard__menu-wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    align-items: center;
}

.header--dashboard__menu-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    height: 3rem;
    padding: 0;
    width: 5rem;
}

.header--dashboard__menu-button + i {
    background-image: url("./arow-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 2rem;
    margin-right: 1rem;
    width: 2rem;
}

.header--dashboard__menu-content::before {
    background-color: #e3e3e3;
    content: '';
    height: 1rem;
    left: 45%;
    top: -.5rem;
    transform: rotate(45deg);
    position: absolute;
    width: 1rem;
}

.header--dashboard__menu-content {
    background-color: #e3e3e3;
    border-radius: 8px;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 48px;
    height: 6rem;
    left: 5rem;
    padding: 1rem;
    width: 10rem;
    z-index: 1;
}

.header--dashboard__menu-wrapper:hover .header--dashboard__menu-content {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);;
    display: block;
}

.header--dashboard__menu-avatar-photo {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
}