* {
    box-sizing: border-box;
    font-size: 16px;
}

.brand-logo {
    width: 8rem;
}

.header--dashboard {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 5rem;
    width: 100%;
}

.header--dashboard__logo {
    align-items: center;
    display: flex;
    grid-column-start: 1;
    grid-row-start: 1;
    padding: 0 2rem;
    width: 100%;
}

.header--dashboard__search {
    align-items: center;
    display: flex;
    grid-column-start: 2;
    grid-row-start: 1;
}

.header--dashboard__input-search {
    background-color: #e3e3e3;
    border: none;
    border-radius: 8px;
    height: 3rem;
    width: 80%;
}